.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header-left{
    flex: 0.5;
    background-color: white;
    min-width: 70px;
    color: grey;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;


}

.header-left > input {
    border: none;
    width: 100%;

}

.header-right{
    display: flex;
    align-items: center;
}


.header-right > h4{
    margin-left: 10px;
}